<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<h1>Users list</h1>
<body>
<table>
    <tr>
    <tr th:each="users : ${userList}">
        <td th:utext="${users.getName()}"></td>
        <td th:utext="${users.getLastName()}"></td>
        <td th:utext="${users.getAge()}"></td>
        <td>
            <form th:action="@{/__${users.id}__}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/edit/__${users.id}__}" method="get">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Edit</button>
            </form>

        </td>
    </tr>

</table>
<div>
    <a type="button" th:href="@{/new}" class="btn btn-secondary bg-secondary text-white">Add new user</a>
</div>
</body>
</html>